extends layout

block content
  div.wrapper.border.bg-white.p-4
    div.heading-wrapper.row
      div.col-xs-12
        h1#title
    div.content-wrapper.row
      div.col-md-6
        span#content


  script(src='/javascripts/lunchmenu.js')