doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(src='/jquery.slim.js')
    script(src='/js/bootstrap.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap", rel="stylesheet")
  body
    section.container.content.my-5
      div
        block content
