doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(src='/jquery.slim.js')
    script(src='/js/bootstrap.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap", rel="stylesheet")
  body
    section.container.my-5.content
      div.p-5
        block content
