

body {
    background: #CACFD6 url("/img/jorge-zapata-4nXkhLCrkLo-unsplash.jpg");
    font-family: 'Source Sans Pro', sans-serif;
    color: #545454;
    background-size: cover;
}

h1 {
    font-weight: 600;
}

.wrapper {
    -webkit-box-shadow: 10px 10px 27px -5px rgba(0,0,0,0.68);
    -moz-box-shadow: 10px 10px 27px -5px rgba(0,0,0,0.68);
    box-shadow: 10px 10px 27px -5px rgba(0,0,0,0.68);
    background: rgba(255,255,255,0.5);;
}